


  <div class="container">
    <div class="Header"><h2>{{ title }}</h2></div>
    <div class="Content">
      <button (click)="toggleGraph()">Rerender Graph</button>
      <span *ngIf=doDisplay>
      <div echarts [options]="options"  [merge]="updateOptions"  theme="dark" class="demo-chart"></div>
      <div echarts theme="dark" [merge]="updateOptions2" [options]="options2" class="demo-chart"></div>
      <div echarts [options]="pieOptions"  [merge]="updatePieOptions" theme="dark" class="demo-chart"></div>
    </span>
    </div>
    <div class="Footer"></div>
  </div>

    

    

    <!--<div style="display: block;">
      <canvas baseChart 
        [datasets]="barChartData"
        [labels]="barChartLabels"
        [options]="barChartOptions"
        [plugins]="barChartPlugins"
        [legend]="barChartLegend"
        [chartType]="barChartType">
      </canvas>
    </div>-->

    <!--<table style="width: 100%">
        <td>    
            <div style="display: block;">
            <canvas baseChart 
              [data]="pieChartData" 
              [labels]="pieChartLabels" 
              [chartType]="pieChartType"
              [options]="pieChartOptions"
              [plugins]="pieChartPlugins"
              [legend]="pieChartLegend">
            </canvas>
            </div>
        </td>
    </table>

    
    <div echarts [merge]="options2" [options]="options2" class="demo-chart"></div>-->
