.container {
    display: grid; 
    grid-template-columns: 0.2fr 2.6fr 0.2fr; 
    grid-template-rows: 0.2fr 2.6fr 0.2fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "Header Header Header"
      ". Content ."
      ". Footer ."; 
    background-color: black;
  }
  .Header { grid-area: Header; text-align: center; vertical-align: middle; color: lightblue;} 
  .Content { grid-area: Content; }
  .Footer { grid-area: Footer; }
  h2 {font-size: 30pt;}